{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'img/auth-bg.jpg' %}">
    <link rel="stylesheet" href="{% static 'img/grupo-mundialmix-.png' %}">
    <title>Cadastro de Usuário</title>
</head>
<body style="background: url(static/img/auth-bg.jpg) ;">
    <form action="{%url 'cadastro'%}" method="post">{% csrf_token %}
        <div class="logo-cas">
            <!-- {{ form.as_p }} -->
            <h1 id="logo-grupo">
              <img src="{% static 'img/grupo-mundialmix-.png' %}" alt="">
            </h1>
            {% bootstrap_messages %} {{ error_menssage }}
            <!-- formulario -->
            <label for="Nome" id="name"> Nome completo: </label>
            <input type="text" placeholder="Nome" id="bnt_name" name="nome"/>

            <label for="nickname" id="nickname"> Usuário: </label>
            <input type="text" placeholder="Usuário" id="bnt_nickname" name="nickname">

            <label for="pass" id="pass"> Senha: </label>
            <input type="password" placeholder="Senha" id="bnt_pass" name="pass"/>

            <label for="Email" id="mail"> Email: </label>
            <input type="text" placeholder="Email" id="bnt_mail" name="email"/>
            <!-- formulario -->
            <!-- botoes -->
            {% bootstrap_messages %} {{ error_message }}
            <button id="cadastrar" type="submit">Cadastrar</button>
            <button id="voltar"><a href="{% url 'index'%}" style="color: white; text-decoration: none;">Voltar</a></button>
            <!-- botoes -->
        </div>

        
        
    </form>
    
    
</body>
</html>