
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <div class="master">
      <h1 id="username" style="margin-top: 100px; font-size: 80px;">
        Login
      </h1>
      <form action="{% url 'menu' %}" method="post">{% csrf_token %}
        <div>
          <button id="bt_entrada" style="background-color: blue; color: white; width: 180px; height: 40px; margin-top: 300px;">
            Entrar
          </button>
        </div>
     
      
      <div class="boss" style="font-family: 'Times New Roman', Times, serif; margin-top: -250px;">
        <h2 id="username">
          Usuário 
          <br>
          <input type="text" placeholder="Username..." name="username">
          <br>
          <br>
          Senha
          <br> 
          <input type="password" placeholder="Password..." name="password">
        </h2>
      </div>
    </div>
  </form>
  </body>
</html>