
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teste</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <div class="master">
      <h1 id="login">
        Login
      </h1>
      <form action="{% url 'menu' %}" method="post">{% csrf_token %}
        
      
    <div class="boss">
        <h2>
          Usuário 
          <br>
          <input type="text" placeholder="Username..." name="username">
          <br>
          <br>
          Senha
          <br> 
          <input type="password" placeholder="Password..." name="password">
        </h2>
        <div>
          <button id="bt_entrada">
            Entrar
          </button>
        </div>
       </div>
    </div>
      </form>
  </body>

</html>