<form action="{% url 'home'%}" method="post">{% csrf_token %}
    <nav class="menu">
        <div class="expand-button">
            <i class="bi bi-list"></i>
        </div>
        <ul>
            <li class="menu-holerite">
                <a href="{% url 'panel'%}">
                    <span class="icon"><i class="bi bi-house-fill"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="menu-holerite">
                <a href="{% url 'holerite'%}">
                    <span class="icon"><i class="bi bi-x-diamond-fill"></i></span>
                    <span class="txt-link">Holerite</span>
                </a>
            </li>
            <li class="menu-holerite">
                <a href="{% url 'rendimento'%}">
                    <span class="icon"><i class="bi bi-cash-stack"></i></span>
                    <span class="txt-link">Rendimento</span>
                </a>
            </li>
            <li class="menu-holerite">
                <a href="{%url 'home'%}">
                    <span class="icon"><i class="bi bi-power"></i></span>
                    <span class="txt-link">Sair</span>
                </a>
            </li>
        </ul>
    </nav>
    
</form>