<body style="background: url(static/img/fundo.jpeg);">
    <div class="master">
      <div class="img-master">
        <img src="{{'static/img/carteira.ico' }}" alt="" style="width: 80px;">
      </div>
      <h1>
        <span class="tittle">
          Holerite Online
        </span>
      </h1>
      <div class='form-content conteiner'>
        <form action="{% url 'home' %}" method="POST" >{% csrf_token %}
          <div class="form-content form-content-grid">
            {% for field in form %}
            <div class="form-group">
              <label for="{{field.id_for_label}}">{{field.label}}</label>
              {{field}}
            </div>
            {% endfor %}
          </div>
          <div class='form-content'>  
            <button  type="submit">Entrar</button>
          </div>
        </div>
        </form>
      
    </div>
  