:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
  
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #0000FF;
    --color-Violet: #ee82ee;
    --color-salmon:#ef6e6e ; 
  
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
  
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
  
    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
  
    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
  
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

.menu a{
    display: flex;
    color: var(--color-white);
    text-decoration: none;
    font-size: 25px;
    padding: 30px 4%;
    margin-bottom: 20px;

}
nav.menu{
    width: 80px;
    height: 100%;
    background-color: var(--color-black);
    padding:  40px 0 40px 1%;
    box-shadow: 3px 0 0 green;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s;
} 
 nav.menu:hover{     
    width: 300px;
 }
 .txt-link{
    margin-left: 50px;
}

.menu-holerite:hover{
    background: var(--color-Violet);
    transition: 2s;
    margin-left: -60px;
}
.icon{
    margin-left: 0px;
}

.expand-button{
    width: 100px;
    padding-left: 10px;
    color: var(--color-white);
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.exemple{
    width: 100px; 
    margin: 20rem  ;

}