  /* Configuração de index */
  .master{
    text-align: center;  
    box-shadow: 0px 15px 15px rgb(22,22,22);
    border-radius: 20px;
    margin: 0 auto;
    background:  white;
    width: 500px;
    height: 500px;
 } 

#logo-grupo{
    margin-top:120px; 
    font-size: 60px;
    
}


.boss{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

#bt_entrada{
    background-color: blue; 
    color: rgb(255, 255, 255); 
    width: 200px; 
    height: 40px; 
    font-size: 20px;
    margin-top: 40px;
    
}

.conf{
    display: flex;
    justify-content: left;
    margin-left: 150px ;
}

.cadas{
    display: flex;
    justify-content: left;
    margin-left: 150px ;
    text-decoration: none;
    color: black;
    margin-top: 30px;
    font-size: 13px;
}
.erro{
    text-align: center;
    color: red;
    height: 5px;
}

 /* Configuração de index */
 /* Configuração do Menu */

  .cabecalho{
      text-align: right;
      color: black;
      text-decoration: none;
  }

  #image{
    width: 100px;
    margin-top: -100px ;
    
}
 /* Configuração do Menu */

 /* Configuração do cadastro */
 .logo-cas{
    text-align: center;  
    box-shadow: 0px 15px 15px rgb(22,22,22);
    border-radius: 20px;
    margin: 0 auto;
    background:  white;
    width: 500px;
    height: 500px;
 }

 #name{
    display: flex;
    justify-content: left;
    margin-top: -20px;
    margin-left: 100px;
 }
#bnt_name{
    display: flex;
    justify-content: left;
    margin-top: -20px;
    margin-left: 250px;
    border: 1px solid rgb(209, 206, 206);
    
}

 #nickname{
    display: flex;
    justify-content: left;
    margin-top: 15px;
    margin-left: 100px;
 }

 #bnt_nickname{
    display: flex;
    margin-top: -20px;
    text-align: left;
    margin-left: 250px; 
    border: 1px solid rgb(209, 206, 206)
 }

 #pass{
  display: flex;
  justify-content: left;
  margin-top: 15px;
  margin-left: 100px;
 }

 #bnt_pass{
  display: flex;
  justify-content: left;
  margin-top: -20px;
  margin-left: 250px;
  border: 1px solid rgb(209, 206, 206)
 }

#mail{
    display: flex;
    justify-content: left;
    margin-left: 100px;
    margin-top: 20px;
    
 }

#bnt_mail{
    display: flex;
    margin-top: -20px;
    text-align: left;
    margin-left: 250px; 
    border: 1px solid rgb(209, 206, 206)
 }

 /* Botoes */
 #cadastrar{
    
    margin-top: 100px;
    margin-left: 50px;
    background-color: blue;
    color: white;
    width: 100px;
    height: 30px;
 }

 #voltar{
    background-color: blue;
    color: white;
    width: 100px;
    height: 30px;
 }
 /* Botoes */
 /* Configuração do cadastro */